
@keyframes shimmer {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

.shimmer {
    width: 100%;
    height: calc(24px * 2.5); // same as input height `formInput`
    background-color: var(--theme-elevation-200);
    border-radius: 1px;
    opacity: 1;
    will-change: opacity;
    animation: shimmer 1s infinite;
}

